# Exclude big and unnecessary files/folders
node_modules
.git
.gitignore
.babelrc
babel.config.js
metro.config.js
eas.json
assets/*
scripts/
*.png
*.jpg
*.jpeg
*.mp4
*.mov
web-build/
dist/
.DS_Store
.expo/
.expo-shared/
.idea/
.vscode/
*.log
